body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(112, 112, 112);
}

h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(213, 141, 47);
  position: relative;
  top: -40%;
}

.container{
  background-color: rgb(29, 29, 29);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.36);
}

input{
  border: 1px solid grey;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(50, 48, 48);
  color: orange;
}

button{
  color: white;
  background-color: black;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(19, 18, 18);
}

button:active{
  background-color: rgb(43, 42, 42);
}

.welcome-msg{
  background-color: rgb(29, 29, 29);
  color: rgb(118, 235, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  position: absolute;
  top: 85%;
  left: 58%;
  border-radius: 20px;
}

.prompt-msg{
  background-color: rgb(29, 29, 29);
  color: rgb(240, 99, 63);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  position: absolute;
  top: 85%;
  left: 76%;
  border-radius: 20px;
}